<div class='wrapper'>
    
    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    <div class='about-hero'>
        <div class='about-title'>
            <h2>Creative vision + attention to detail</h2>
            <p>I'm a full-stack web developer living in Colorado with big ambitions and varied <br> passions. When I'm not rock climbing or foraging for wild foods I combine my <br> unique creative spark with an obsessive attention to detail to create beautiful <br>  digital experiences.</p>
            <a href='/#/work' class='hvr-sweep-to-bottom'>View my work</a>
        </div>    
    </div>

    <div class='my-face'><img src='Images/prof.jpg'/></div>
    <div class='about-me'>
            <h4>A paradox of sorts, I’m a web developer who loves being in nature, <br> practices handstands and backflips in his spare time, and cares <br> deeply about the health of the planet. I believe this gives me a <br> unique perspective from which to interface with the digital world.</h4>
            <p>A "creative-type" at heart, I approah my work from a right-brained, idea <br> oriented place – thinking about the <em>why</em>, <em>what</em> and <em>how</em> behind the code I <br> write. I also have a firm grasp of the technical fundamentals which, coupled <br> with my borderline obsessive attention to detail, allows me to create clean <br> and impactful digital experiences. I still have a ton to learn, but I'm proud <br> of the apps I've built thus far. </p>
        <div class='about-explore-buttons'>
            <a href='/#/' class='hvr-sweep-to-bottom'>Home</a>
            <a href='/#/work' class='hvr-sweep-to-bottom'>Work</a>
            <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
        </div>
    </div>
    <div class='bottom'>
        <img src='Images/logan3.png' class="logan"/>
        <div class='bottom-social'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall/' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>&copy; LOGAN MARSHALL 2019</p>
    </div>

</div>