<div class='wrapper'>
    
    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall/' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>

        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    
    <div class='work-banner'>
        <div class='work-title'>
            <h2>Get in touch</h2>
            <p>I'm currently transitioning into the software industry and am <br> open to potential job opportunities. Feel free to reach out, I'd <br> love to hear from you.</p>
            <p><strong>EMAIL:</strong> logangmarshall@gmail.com</p>
            <p><strong>PHONE:</strong> (207) 450-1067</p>
            <!-- <a href='mailto:logangmarshall@gmail.com' class='hvr-sweep-to-bottom'>Send me an email <i class="fa fa-paper-plane" aria-hidden="true"></i></a> -->
        </div>
    </div>
    
    <div class='contact-image'>
    </div>
    
        <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/' class='hvr-sweep-to-bottom'>Home</a>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a href='/#/work' class='hvr-sweep-to-bottom'>Work</a>
            </div>
        </div>
    </div>
    
    <div class='bottom'>
        <img src='Images/logan3.png' class="logan"/>
        <div class='bottom-social'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall/' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2019</p>
    </div>
    
</div>

