<div class='wrapper'>
    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    <div class='hero'>
        <div class='title'>
            <h2>DEVELOPER. CREATIVE. ADVENTURER.</h2>
            <p><em>I'm a full-stack Web Developer working hard to craft clean and impactful digital experiences. I love learning new things 
                    and the creative process of turning an idea into reality.</em></p>
            <a href='/#/work' class='hvr-sweep-to-bottom'>View my work</a>
        </div>    
    </div>
    <div class='slant'>
    </div>
    <div class='info'>
        <div class='info-title'>
            <h4>Hey, my name is Logan. I'm a full-stack web developer and <br> creative builder of things. This site is where I showcase my <br> creations and share my learning process. If you want to see <br> what I've been up to lately, scroll down.</h4>
        </div>
    </div>
    <div class='projects'>
        <div class='proj-title'>
            <h3>Recent Projects</h3>
            <div class='proj-description'>
                <h4>A graduate of DevMountain in Phoenix, here are a few <br> of my recent personal projects. I still have a ton to learn, <br> but I'm proud of the apps I've built so far and am excited <br> to tackle bigger, better projects in the future. </h4>
            </div>
        </div>
    </div>
    <div class='my-work'>
        <div class='open-road'>
            <div class='overlay'>
                <div class='text'>
                    <h1>Open Road</h1>
                    <p>React app for planning road trips; uses the Google Maps API heavily.</p>
                    <a href="https://github.com/bfojas/road-trip" target="_blank">View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class='wild-fed'>
            <div class='overlay'>
                <div class='text'>
                    <h1>Wild Fed</h1>
                    <p>React app designed to help users learn the craft of foraging for wild foods.</p>
                    <a href="https://github.com/loganxc12/wild-food-app" target="_blank">View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class='pomify'>
            <div class='overlay'>
                <div class='text'>
                    <h1>Pomify</h1>
                    <p>MEAN stack web app that helps users harness the full power of the Pomodoro Technique.</p>
                    <a href="https://github.com/loganxc12/pomodoro-app">View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class='learn-more'>
        <div class='proj-title2'>
            <h3>My Skillset</h3>
            <div class='proj-description'>
                <h4>Hungry for knowledge and constantly learning, I'm proficient in <br> HTML5, CSS3, Javascript, jQuery, React, Redux, Angular, NodeJs, <br> Express, PostgreSQL and MongoDb. I thrive when I'm challenged <br> to expand my skillset and tackle new and difficult problems.</h4>
            </div>
        </div>
    </div>
    <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a href='/#/work' class='hvr-sweep-to-bottom'>Work</a>
                <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
            </div>
        </div>
    </div>
    <div class='bottom'>
        <img src='Images/logan3.png' class="logan" />
        <div class='bottom-social'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall/' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>&copy; LOGAN MARSHALL 2019</p>
    </div>
</div>
