<div class='wrapper'>
    
    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall/' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>

        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    
    <div class='work-banner'>
        <div class='work-title'>
            <h2>My recent projects</h2>
            <p>One of my favorite things about coding is the unremittingly challenging <br> process of taking an idea and turning it into a beautiful and intuitive <br> user experience. I'm continually striving to improve my skillset, but <br> here are a few recent examples of my work.</p>
        </div>
    </div>
    <div class='project-banner' id="open-road">
        <div class='timeline-description'>
            <h1>Open Road</h1>
            <h3>Plan and share your next great road trip adventure</h3>
            <p>React | Redux | Node | Express | PostgreSQL | Google Maps API | Redis | AWS s3</p>
            <a href='https://github.com/bfojas/road-trip' target="_blank" class='hvr-sweep-to-bottom'>View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='project-banner' id="wild-fed">
        <div class='timeline-description'>
            <h1>Wild Fed</h1>
            <h3>Track your wild food foraging through the seasons</h3>
            <p>React | Redux | Node | Express | PostgreSQL | Auth0 | Google Maps API </p>
            <a href='https://github.com/loganxc12/wild-food-app' target="_blank" class='hvr-sweep-to-bottom'>View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='project-banner' id='pomify'>
        <div class='timeline-description'>
            <h1>Pomify</h1>
            <h3>Harness the full power of the Pomodoro Technique</h3>
            <p>Angular | Node | Express | MongoDb | Mongoose | ChartJs | Passport </p>
            <a href='https://github.com/loganxc12/pomodoro-app' target="_blank" class='hvr-sweep-to-bottom'>View Project <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/' class='hvr-sweep-to-bottom'>Home</a>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
            </div>
        </div>
    </div>
    <div class='bottom'>
        <img src='Images/logan3.png' class="logan" />
        <div class='bottom-social'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logangmarshall/' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2019</p>
    </div>



</div>