<div class='wrapper'>
    
    <div class='dropdown' ng-show='drop'>
        <a href="/#/">Home</a><a href="/#/about">About</a><a href="/#/work">Work</a><a href="/#/contact">Contact</a>
    </div>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>

        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu(); toggleDropdown()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    
    <div class='work-banner'>
        <div class='work-title'>
            <h2>My recent projects.</h2>
            <p>One of my favorite things about coding is the unremittingly challenging <br> process of taking an idea and turning it into a beautiful and intuitive <br> user experience. I'm continually striving to improve my skillset, but <br> here are a few recent examples of my work.</p>
        </div>
    </div>
    <div class='t-timeline'>
        <div class='timeline-description'>
            <h1>Veda Jewlery</h1>
            <p>A lifestyle brand for those seeking a beautiful life</p>
            <a href='http://vedaforlife.com/' target="_blank" class='hvr-sweep-to-bottom'>Visit site <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='c-construction'>
        <div class='timeline-description'>
            <h1>Cooper Construction</h1>
            <p>Crafting homes as beautiful as the island they're based on</p>
            <a href='http://loganxc12.github.io/cooper-construction/index.html' target="_blank" class='hvr-sweep-to-bottom'>Visit site <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='p-pomify'>
        <div class='timeline-description'>
            <h1>Pomify</h1>
            <p>A worldwide Pomodoro community and competition</p>
            <a href='#' target="_blank" class='hvr-sweep-to-bottom'>Visit site <i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/' class='hvr-sweep-to-bottom'>Home</a>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
            </div>
        </div>
    </div>
    <div class='bottom'>
        <img src='Images/logo3.png'/>
        <div class='bottom-social'>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2016</p>
    </div>



</div>